@font-face {
    font-family: 'OpenSansLight';
    src: url('OpenSans-Light-webfont.eot');
    src: url('OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Light-webfont.woff') format('woff'),
         url('OpenSans-Light-webfont.ttf') format('truetype'),
         url('OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansLightItalic';
    src: url('OpenSans-LightItalic-webfont.eot');
    src: url('OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-LightItalic-webfont.woff') format('woff'),
         url('OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansRegular';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular-webfont.woff') format('woff'),
         url('OpenSans-Regular-webfont.ttf') format('truetype'),
         url('OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansItalic';
    src: url('OpenSans-Italic-webfont.eot');
    src: url('OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Italic-webfont.woff') format('woff'),
         url('OpenSans-Italic-webfont.ttf') format('truetype'),
         url('OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansSemibold';
    src: url('OpenSans-Semibold-webfont.eot');
    src: url('OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Semibold-webfont.woff') format('woff'),
         url('OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansSemiboldItalic';
    src: url('OpenSans-SemiboldItalic-webfont.eot');
    src: url('OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
         url('OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansBold';
    src: url('OpenSans-Bold-webfont.eot');
    src: url('OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Bold-webfont.woff') format('woff'),
         url('OpenSans-Bold-webfont.ttf') format('truetype'),
         url('OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansBoldItalic';
    src: url('OpenSans-BoldItalic-webfont.eot');
    src: url('OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansExtrabold';
    src: url('OpenSans-ExtraBold-webfont.eot');
    src: url('OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansExtraboldItalic';
    src: url('OpenSans-ExtraBoldItalic-webfont.eot');
    src: url('OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
         url('OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
         url('OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KingthingsCalligraphicaLight';
    src: url('Kingthings_Calligraphica_Light-webfont.eot');
    src: url('Kingthings_Calligraphica_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Kingthings_Calligraphica_Light-webfont.woff') format('woff'),
         url('Kingthings_Calligraphica_Light-webfont.ttf') format('truetype'),
         url('Kingthings_Calligraphica_Light-webfont.svg#KingthingsCalligraphicaLight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'KingthingsCalligraphica2Rg';
    src: url('Kingthings_Calligraphica_2-webfont.eot');
    src: url('Kingthings_Calligraphica_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('Kingthings_Calligraphica_2-webfont.woff') format('woff'),
         url('Kingthings_Calligraphica_2-webfont.ttf') format('truetype'),
         url('Kingthings_Calligraphica_2-webfont.svg#KingthingsCalligraphica2Rg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KingthingsCalligCalligraphica';
    src: url('Kingthings_Calligraphica_Italic-webfont.eot');
    src: url('Kingthings_Calligraphica_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Kingthings_Calligraphica_Italic-webfont.woff') format('woff'),
         url('Kingthings_Calligraphica_Italic-webfont.ttf') format('truetype'),
         url('Kingthings_Calligraphica_Italic-webfont.svg#KingthingsCalligCalligraphica') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
    font-size: 1em;
    font-family: "OpenSansRegular", Helvetica, Arial, Sans-Serif;
    color: #eeeeee;
    background-color: #2b4216;
}
header,
footer,
nav,
section,
#content {
    display: block;
    width: 960px;
    margin: 0 auto;
    padding: 0;
}
#content {
    color: #311a0e;
    box-shadow: 3px 3px 3px #222;
    background: #eee8d3;
    padding-bottom: 20px;
}
ul, li, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav a:link {
    color: #ffeeee;
    text-decoration: none;
}
nav a:visited {
    color: #eedddd;
}
nav a:hover {
    text-decoration: underline;
    color: #dddddd; 
}
nav a:active {
    text-decoration: underline;
    color: #eedddd
}

/* Styles for basic forms
-----------------------------------------------------------*/
textarea 
{
    min-height: 250px;
    min-width: 500px;
}

.editor-label, .editor-field, #content form p
{
    margin: 0 40px;
}
.editor-label {
    margin-top: 0.5em;
    font-size: 0.8em;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}


.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
    
h1 {
    font-family: "KingthingsCalligraphica2Rg", serif;
    font-size: 3em;
}
#date-mariage {
    font-family: "KingthingsCalligCalligraphica", serif;
    font-size: 1.6em;
    margin-bottom: 20px;
}
nav li {
    display: inline;
    padding: 0;
    margin: 0;
}
    nav li a {
        font-family: "KingthingsCalligraphicaLight", serif;
        display: inline-block;
        background-color: #5b2f20;
        -moz-border-radius: 20px 20px 0 0;
        -webkit-border-radius: 20px 20px 0 0;
        border-radius: 20px 20px 0 0;
        font-size: 2em;
        padding: 0.5em 0.7em;
        zoom: 1;
    }
#content p {
    margin: 0 40px;
}
h2, h3, h4 {
    font-family: "KingthingsCalligraphicaLight", serif;
    font-size: 2em;
    margin: 0 40px 20px;
    padding-top: 20px;
}
h3 {
    font-size: 1.8em;
}
h4 {
    font-family: "OpenSansRegular", Helvetica, Arial, Sans-Serif;
    font-size: 1.2em;
}
#slider {
    width: 940px;
    height: 705px;
    margin: 0 auto;
}

iframe {
    border: 1px solid black;
    width: 425px;
    height: 350px;
    margin: 10px 40px;
}
#private-form {
    float: right;
    width: 360px;
    overflow: hidden;
    font-size: 0.8em;
}
    #private-form label {
        margin-right: 5px;
    }