@{
    ViewBag.Title = "404";
}

<h2>404</h2>

<p>Cette page n'existe pas, vous avez soit fait une erreur dans votre URL, soit le développeur de ce site est un boulet.</p>

<ul>
    <li>@Html.RouteLink("Je reviens à l'accueil du site.", "Accueil")</li>
    <li>@Html.RouteLink("Ce site est tout pourri, je retourne regarder des vidéos de Lolcats sur Youtube.", "Lolcat")</li>
</ul>
