@model dynamic
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Perrine et Gabriel - Site en cours de développement</title>
        <style>
            p {
                width: 960px;
                margin: 5% auto;
                text-align: center;
                font-size: 2.4em;
            }
        </style>
    </head>
    <body>
        <p>
            Un peu de patience, le site est encore en cours de développement. 
            <br />En attendant vous pouvez toujours regarder <a href="http://www.youtube.com/watch?v=11xs9mFKObs">mes dernières aventures au Japon</a> !
            <br />
        See ya Later !
            </p><p>
                <img src="../../Content/images/tux-gab.png" alt="Gab" />
                </p>
            


        
    </body>
</html>