@{
    ViewBag.Title = "Perrine et Gabriel - 11 Mai 2013 - Liste";
}

<h2>Liste</h2>
<p>Pour ceux qui le souhaitent, un lien vers notre liste de mariage chez 1001 listes sera mis en ligne dès que celle-ci sera terminée.<br />
Nous vous informons qu’<del>une urne</del> un coffre au trésor sera présent sur les lieux de la soirée.
</p>