@model Mariage.Models.BaseModel
@{
    ViewBag.Title = "Perrine et Gabriel - 11 Mai 2013 - Liste de mariage";
}

<h2>Liste</h2>
<p id="p-list">Pour ceux qui le souhaitent, nous avons ouvert <a href="http://www.1001listes.fr/moncompte/vueinvites/numLst/562017/pageName/presentation/">notre liste de mariage chez 1001 listes.</a><br />
    Nous vous informons qu’un coffre au trésor sera présent sur les lieux de la soirée. La destination du voyage de noces est tenue secrète pour le moment.
</p>