@model Mariage.Models.BaseModel
@{
    ViewBag.Title = "Perrine et Gabriel - 11 Mai 2013 - Logements";
}

<h2>Logements</h2>
<p>
    Une partie des invités se logeront au Domaine de Bréhadour, il y a possibilité d'y avoir des places à moindres coûts si vous restez au moins 2 nuits, 
    faîtes-nous signe ou dîtes au camping que vous êtes avec la famille ARNAUD.
</p>
<table id="logements">
    <tr>
        <th>Type</th>
        <th>Nom</th>
        <th>Adresse</th>
        <th>Téléphone</th>
        <th>Tarifs</th>
        <th>Site Web</th>
    </tr>
    <tr>
        <td>Maison d'hôte</td>
        <td>La Guérandière</td>
        <td>5 rue vannetaise - 44350 GUERANDE</td>
        <td>02 40 62 17 15</td>
        <td>71€ à 126€</td>
        <td><a href="http://www.guerande.fr/">http://www.guerande.fr/</a></td>
    </tr>
    <tr>
        <td>Hôtel **</td>
        <td>Hôtel et Bistrot Les Remp'arts</td>
        <td>15 Bd du Nord - 44350 GUERANDE</td>
        <td>02 40 24 90 69</td>
        <td>49€ à 69€</td>
        <td><a href="http://www.hoteldesremparts.com/">http://www.hoteldesremparts.com/</a></td>
    </tr>
    <tr>
        <td>Hôtel **</td>
        <td>Hôtel Creperie Roc Maria</td>
        <td>1 rue du Vieux Marché aux grains - 44350 GUERANDE</td>
        <td>02 40 24 90 51</td>
        <td>53€ à 64€</td>
        <td><a href="http://www.hotel-creperie-rocmaria.com/">http://www.hotel-creperie-rocmaria.com/</a></td>
    </tr>
    <tr>
        <td>Hôtel **</td>
        <td>Hôtel Eurocéan</td>
        <td>ZA Villejames - 7 Place Kerhilliers - 44350 GUERANDE</td>
        <td>02 40 42 90 42</td>
        <td>45€ à 85€</td>
        <td><a href="http://www.eurocean.fr/">http://www.eurocean.fr/</a></td>
    </tr>
    <tr>
        <td>Hôtel ***</td>
        <td>Best Western Hôtel de la cité</td>
        <td>2 place dolgellau - 44350 GUERANDE</td>
        <td>02 40 22 02 20</td>
        <td>89€ à 140€</td>
        <td><a href="http://www.hotel-guerande.com/">http://www.hotel-guerande.com/</a></td>
    </tr>
    <tr>
        <td>Hôtel **</td>
        <td>Eco Nuit</td>
        <td>1 rue du Milan Noir, (anciennement rue des Collèges) - 44350 GUERANDE</td>
        <td>02 40 45 85 47</td>
        <td>39€ à 79€</td>
        <td><a href="http://www.econuit.com">http://www.econuit.com</a></td>
    </tr>
    <tr>
        <td>Hôtel ***</td>
        <td>Logis - Hôtel de Pen Bron</td>
        <td>Pen Bron - 44420 LA TURBALLE</td>
        <td>02 28 56 77 99</td>
        <td></td>
        <td><a href="http://www.logishotels.com/fr/">http://www.logishotels.com/fr/</a></td>
    </tr>
    <tr>
        <td>Hôtel</td>
        <td>Logis - Le Relais Marine</td>
        <td>276, rue Centrale - 44420 QUIMIAC</td>
        <td>02 40 42 51 09</td>
        <td>58€ à 90€</td>
        <td><a href="http://www.logishotels.com/fr/">http://www.logishotels.com/fr/</a></td>
    </tr>
    <tr>
        <td>Hôtel **</td>
        <td>Logis - Hôtel Le Paris</td>
        <td>138, av. des Ondines - 44500 LA BAULE ESCOUBLAC</td>
        <td>02 40 70 09 01</td>
        <td>47€ à 80€</td>
        <td><a href="http://www.logishotels.com/fr/">http://www.logishotels.com/fr/</a></td>
    </tr>
        <tr>
        <td>Hôtel ***</td>
        <td>Logis - Hôtel le Saint Christophe</td>
        <td>Place Notre-Dame  - 44500 LA BAULE ESCOUBLAC</td>
        <td>02 40 62 40 00</td>
        <td>69€ à 215€</td>
        <td><a href="http://www.logishotels.com/fr/">http://www.logishotels.com/fr/</a></td>
    </tr>
    <tr>
        <td>Hôtel ***</td>
        <td>Logis - Hôtel Lutetia & SPA</td>
        <td>13, av. Olivier Guichard - (ex. av. des Evens) - 44500 LA BAULE ESCOUBLAC</td>
        <td>02 40 60 25 81</td>
        <td>69€ à 195€</td>
        <td><a href="http://www.logishotels.com/fr/">http://www.logishotels.com/fr/</a></td>
    </tr>
    <tr>
        <td>Camping ****</td>
        <td>Domaine de Léveno</td>
        <td>Route de Sandun lieu dit "Leveno" - 44350 GUERANDE</td>
        <td>02 40 24 79 30</td>
        <td>49€ à 109€</td>
        <td><a href="http://www.camping-leveno.com">http://www.camping-leveno.com</a></td>
    </tr>
    <tr>
        <td>Camping ***</td>
        <td>Camping de l'Etang du Pays Blanc</td>
        <td>47 rue des Chênes -  44350 GUERANDE</td>
        <td>02 40 61 93 51</td>
        <td>51€ à 94€</td>
        <td><a href="http://www.camping-etang.com/">http://www.camping-etang.com/</a></td>
    </tr>
        <tr>
        <td>Camping ***</td>
        <td>Domaine de Bréhadour</td>
        <td>Route de Bréhadour -  44350 GUERANDE</td>
        <td>02 40 17 65 15</td>
        <td><em>Contactez-nous</em></td>
        <td><a href="http://www.domainedebrehadour.com/">http://www.domainedebrehadour.com/</a></td>
    </tr>
</table>
