@using Mariage.Models
@model BaseModel
<nav>
<ul>
    @foreach(var li in BaseModel.Menu)
    {
        if (li.Key != Model.Selected)
        {
            <li>@Html.RouteLink(li.Value, li.Key)</li>
        }
        else
        {
            <li class="selected">@Html.RouteLink(li.Value, li.Key)</li>
        }
    }
</ul>
</nav>